.form-container button[type="submit"]:hover {
    background-color: dodgerblue;
}

.form-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
}

.form-container h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container p {
    margin-bottom: 0;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"]
{
    width: 70%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-container button[type="submit"] {
    display: block;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}